<header class="p-3 text-bg-dark gradient-custom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <!-- <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> -->
            <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> -->
            <!-- </a> -->

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><%= link_to 'Home', pages_home_path, class: "nav-link px-2 text-white" %></li>
                <li><%= link_to 'Stories', stories_path, class: "nav-link px-2 text-white" %></li>
                <li><%= link_to 'About', pages_about_path, class: "nav-link px-2 text-white" %></li>
                <% if user_signed_in? %>
                    <li><%= link_to 'New Story', new_story_path, class: "nav-link px-2 text-info" %></li>
                <% end %>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="mx-2">
                <% if user_signed_in? %>
                    <%= link_to current_user.name.capitalize, edit_user_registration_path, class: "btn btn-outline-dark text-info" %>
                    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
                <% else %>
                    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-outline-primary me-2" %>
                    <%= link_to 'Register', new_user_registration_path, class: "btn btn-success btn-registration" %>
                <% end %>
            </div>

        </div>
    </div>
</header>
